@use 'reset';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  padding-left: 23px;
  padding-right: 23px;
}

.contact {
  padding-top: 80px;
  padding-bottom: 76px;
  background: #28293e;
  .formContainer {
    background-color: #fff;
    border-radius: 6px;
    padding: 57px 28px 48px;

    .title {
      font-size: 24px;
      line-height: 32px;
      color: #391400;
      margin-top: 0;
      margin-bottom: 28px;
    }
  }
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  select.textInput {
    padding: 14px 16px 13px;
  }
  .textInput {
    border: 1px solid #f3d1bf;
    border-radius: 6px;
    padding: 7px 16px 7px;
    width: 100%;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);

    &::placeholder {
      font-size: 16px;
      line-height: 32px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgba(57, 20, 0, 0.64);
    }
    &.area {
      min-height: 96px;
      resize: vertical;
    }
  }
  .btn.form {
    text-transform: uppercase;
    font-weight: 900;
    padding: 18px 30px;
    background-color: #ef6d58;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    align-self: end;
    margin-top: 16px;
  }
}


.contacts-title {
  padding-top: 60px;

  .preTitle{
    text-transform: uppercase;
    color:#ef6d58;
    font-size: 16px;
    font-style:normal;
    line-height: 32px;
    letter-spacing: 3px;
    margin-bottom: 17px;
  }

  .boxTitle{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    color:#fff;
    text-transform: capitalize;

  }

  .boxText {
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: rgba(255, 255, 255, 0.64);
  }
}

  .contacts-box {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    color: white;
    gap: 16px;

    p{
      margin-bottom: 0;
      margin-top: 0;
    }
  }


  .contacts-box__icon {
    content: "";
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: orangered;
    top: -6px;
    left:20px;

    .fa-phone{
      // position: absolute;
      padding-left: 15px;
      padding-top: 15px;
    }
    }
  
  








@media screen and (min-width: 800px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact {
    padding-top: 176px;
    padding-bottom: 176px;
    .contactGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 130px;
    }
  }
}